@import '../../utils'

.layout
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  &_toolbar
    position absolute
    top 0
    left 0
    right 0
    height TOOLBAR_HEIGHT

  &_content
    position absolute
    top TOOLBAR_HEIGHT
    bottom 0
    left 0
    right 0