@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 100
  src local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url('fonts/OpenSans-CondLight.ttf') format('truetype')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 300
  src local('Open Sans Light'), local('OpenSans-Light'), url('fonts/OpenSans-Light.ttf') format('truetype')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  src local('Open Sans'), local('OpenSans'), url('fonts/OpenSans-Regular.ttf') format('truetype')

@keyframes blink {
  0% {
    opacity: .25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .25;
  }
}

html
  -webkit-user-select none
  user-select none
  height 100%

body
  height 100%
  background #222c36
  font-family 'Open Sans', sans-serif
  color #333