.circle-timer
  position relative
  width 300px
  height: 300px
  color: seagreen

  &_left,
  &_right
    position absolute
    top 0
    bottom 0
    width 50%
    overflow hidden

  &_left
    left 0
  &_right
    right 0

  &_left_half,
  &_right_half
    position absolute
    top 0
    box-sizing border-box
    height 100%
    width 200%
    border-radius 50%
    border 6px solid transparent
    border-left-color currentColor
    border-top-color currentColor

  &_left_half
    left 0
    transform rotate(135deg)
  &_right_half
    right 0
    transform rotate(-45deg)